<link href="http://fonts.googleapis.com/earlyaccess/cwtexhei.css" type="text/css" rel="stylesheet" />
<style type="text/css">
    .font1 {
        font-family: 'cwTeXHei';
    }
</style>

<link rel="stylesheet" href="~/Content/main.css">
<div id="wrapper">

        <div class="container">
           
            <h1 style="color: white; text-align:center;margin-top:30px; font-size:20px;
                font-weight:bold;" class="font1">
                無毒的地方有陽光.
            </h1>
            <h2 style="color: white; text-align:right; font-size: 15px;" class="font1">-每日一語<br /></h2>
            <br>
            <div class="row" >

                <div id="menuBall1" class="menuBall">
                    <a class="ball blueball" href="http://antidrug.moj.gov.tw/lp-1215-1-xCat-A.html">
                        <div class="menuText">
                            分類
                        </div>
                    </a>
                </div>

                <div id="menuBall2" class="menuBall">
                    <a class="ball blueball" href="@Url.Action("news", "Home")">
                        <div class="menuText">
                            新聞
                        </div>
                    </a>
                </div>

                <div id="menuBall3" class="menuBall">
                    <a class="ball blueball" href="@Url.Action("data", "Home")">
                        <div class="menuText">
                            數據
                        </div>
                    </a>
                </div> 
            </div>

            <div class="row">
                <div id="menuBall4" class="menuBall">
                    <a class="ball blueball" href="@Url.Action("sign", "Home")">
                        <div class="menuText">
                            相機
                        </div>
                    </a>
                </div>
                <div id="menuBall1" class="menuBall">
                    <a class="ball blueball" href="@Url.Action("off", "Home")">
                        <div class="menuText">
                            諮詢
                        </div>
                    </a>
                </div>

                <div id="menuBall2" class="menuBall">
                    <a class="ball blueball" href="http://www.moj.gov.tw/np.asp?ctNode=27975&mp=001">
                        <div class="menuText">
                            法規
                        </div>
                    </a>
                </div>
            </div>

            <div class="row">
                <div id="menuBall1" class="menuBall">
                    <a href="@Url.Action("Announce", "Home")" class="ball greenball">
                        <div class="menuText">
                            通報
                        </div>
                    </a>
                </div>

                <div id="menuBall2" class="menuBall">
                    <a class="ball blueball" href="@Url.Action("share", "Home")">
                        <div class="menuText">
                            交流
                        </div>
                    </a>
                </div>

                <div id="menuBall3" class="menuBall">
                    <a href="@Url.Action("About", "Home")"  class="ball greenball">
                        <div class="menuText">
                            關於
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </section>
</div>


